.card {
  max-width: 400px;
  min-height: 576px;
  background-color: white;
  border-radius: 15px;
}

.card__image {
  background-image: url('../../images/card-sample.jpg');
  max-width: 400px;
  height: 272px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 15px 15px 0 0;
  padding: 24px;
  box-sizing: border-box;
}

.card__bookmark-button {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
  outline: none;
}

.card__offer-login {
  width: 182px;
  height: 40px;
  margin-right: 5px;
  padding: 16px 10px 17px 10px;
  background: #FFFFFF;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  visibility: hidden;
}

.card__offer-login_visible {
  visibility: visible;
}

.card__offer-login-message {
  font-family: 'Roboto Regular';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.card__bookmark-icon {
  width: 14px;
  height: 19px;
  margin: auto;
  color: red;
}

.card__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 24px 24px 24px;
  min-height: 304px;
  box-sizing: border-box;
}

.card__date {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #B6BCBF;
  margin: 0;
  padding: 0;
}

.card__title {
  font-family: 'Roboto Slab';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #1A1B22;
  margin: 0;
  padding: 0;
}

.card__intro {
  font-family: 'Roboto Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #1A1B22;
  margin: 0;
  padding: 0;
}

.card__source {
  font-family: 'Roboto Slab';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #B6BCBF;
  margin: 0;
  padding: 0;
}

